
@{
    ViewBag.Title = "Success";
}

<h2>Inregistrare reusita!</h2>

<div class="container">
    <div class="row">
        <div class="col">
            @Html.ActionLink("Adaugare fisa pacient", "FormLogin", "Login")
        </div>
        <div class="col">
            @Html.ActionLink("Adaugare date medic", "FormLogin", "Login")
        </div>
        <div class="col">
            @Html.ActionLink("Inapoi la pagina de start", "Index", "Home")
        </div>
    </div>
</div>